.main-nav .bg-body-tertiary {
  background-color: #ffc017 !important;
}
.list a {
  text-decoration: none;
  border: 1px solid black;
  padding: 3px 4px;
  margin: 5px;
  display: inline-block;
  color: black;
}
.list-right a {
    text-decoration: none;
    margin: 5px;
    color: black;
}
.main-header {
    align-items: center;
    text-align: center;
}
